# Virtual environment
.venv
wsm/

# IDE specific files
.vscode

# Python cache files
__pycache__/

# config files used for local testing
configs/config_local.yaml

# output files
predictions/data/
configs/config_local.yaml
__pycache__/
.DS_Store
.venv/
